<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" href="/media/css/main.css">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.0/jquery.min.js"><</script>
		<script src="/media/js/coffee.js"></script>
		<script src="/media/js/jquery.resizer.js"></script>
	</head>
	<body>
		<div id="main_wrapper">
			<div id="header">
				<div id="logo">
				</div>
			</div>

			<ul id="photo_chose">
			</ul>
			<br style="clear" />
			<div id="leaders">
			</div>
		</div>
	</body>
</html>